<form accept-charset="UTF-8" action="/reports/process_person_report" method="post" class="form">
  	<div class="clearfix">
	   <label class="label" for="person">Person</label>
	  <div class="input">
	  	<select id="person" name="person">
	  		<option value="Kevin">Kevin</option>
			<option value="Joel">Joel</option>
			<option value="Josh">Josh</option>
			<option value="Manjeet">Manjeet</option>
			<option value="Martavis">Martavis</option>
			<option value="Matthew">Matthew</option>
			<option value="Simmons">Simmons</option>
			<option value="Sosebee">Sosebee</option>
		</select>
	  </div>
	</div>

	<label class="checkbox">
      <input type="checkbox" id="csv" name="csv"> Generate CSV
    </label>

	<label class="checkbox">
      <input type="checkbox" id="pdf" name="pdf"> Generate PDF
    </label>
    
	<div class="form-actions">
	  <button class="btn btn-large btn-success" type="submit">Run Report</button>
	</div>
</form>