<form accept-charset="UTF-8" action="/reports/process_report" method="post" class="form">
  	<div class="clearfix">
	   <label class="label" for="start">Start Date</label>
	  <div class="input">
	    <input class="text_field" id="start" name="start" size="30" type="text" value="<%= @start %>">
	  </div>
	</div>

  	<div class="clearfix">
	   <label class="label" for="end">End Date</label>
	  <div class="input">
	    <input class="text_field" id="end" name="end" size="30" type="text" value="<%= @end %>">
	  </div>
	</div>

	<label class="checkbox">
      <input type="checkbox" id="csv" name="csv"> Generate CSV
    </label>

	<div class="form-actions">
	  <button class="btn btn-large btn-success" type="submit">Run Report</button>
	</div>
</form>